/* last update on 16.01.2023 */

body {
    background-color: aqua;
}

p {
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    color: blueviolet;
    font-size: 24px;
    text-align: center;
    margin: 2px;
}

a {
    color: blueviolet;
    text-decoration: none;
}
